/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
.breakout-fullwidth {
	margin-left: calc(-100vw / 2 + 50%);
	width: 100vw;
	height: 100px;
	background: black;
}

.major-container {
	padding: 0 8.333%;
	width: 100vw;
	height: 100%;
}

.minor-container {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

/* ------------------------------------------------------------ *\
	Misc Helpers
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Input related
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
	Position related
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Grid related
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Text related
\* ------------------------------------------------------------ */

.text-light {
  color: white;
}

/* ------------------------------------------------------------ *\
	Modals
\* ------------------------------------------------------------ */
